<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
{% extends 'interface/interface_base.html' %}
{% block title %}基础用例{% endblock %}
{% block main_content %}
<div class="center">
    <ul class="breadcrumb">
        <li><a href="#">接口测试</a></li>
        <li class="active">基础用例</li>
    </ul>
    <div class="columns pull-left">
        <input type="text" id="search-keyword" placeholder="请输入测试集名称">
            <button class="btn btn-primary" id="search-button" >查询</button>
            <a onclick="add_test_suit_model()">
                <button type="button" class="btn btn-primary" >新建测试集</button>
            </a>
    </div>

    <table id="mytable" class="table table-hover"></table>
    <!-- 修改数据模态框（Modal） -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                            </button>
                            <h4 class="modal-title" id="updateModalLabel">
                                修改接口参数
                            </h4>
                        </div>
                        {# 模态框body #}
                        <div class="modal-body" style="height: 100%;">
                            <div class="form-group">
                                <!--<label for="update_id" class="col-sm-3 control-label">序列号</label>-->
                                <div class="col-sm-7" hidden="hidden">
                                    <input type="text" class="form-control"  name="update_id" id="update_id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="update_test_case_suit_name" class="col-sm-3 control-label">模版名称</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control"  name="update_test_case_suit_name" id="update_test_case_suit_name" placeholder="请输入模版名称">
                                </div>
                            </div>
                            <div class="form-group" hidden="hidden">
                                <label for="update_template_desc" class="col-sm-3 control-label">模版描述</label>
                                <div class="col-sm-7">
                                    <Textarea  class="form-control" name="update_template_desc" id="update_template_desc" placeholder="请输入项目描述"></Textarea>
                                </div>
                            </div>
                        </div>
                        {#模态框底部#}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <input type="button" class="btn btn-primary" value="提交"  onclick="update_test_case_suit_action()"/>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

    <!--<form id="add_test_suit_form" action="#" method="POST" class="form-horizontal" role="form">-->
            <!--{% csrf_token %}-->
            <!--<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">-->
                <!--<div class="modal-dialog">-->
                    <!--<div class="modal-content">-->
                        <!--<div class="modal-header">-->
                            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
                            <!--&times;-->
                            <!--</button>-->
                            <!--<h4 class="modal-title" id="addModalLabel">-->
                                <!--新增数据-->
                            <!--</h4>-->
                        <!--</div>-->
                        <!--{# 模态框body #}-->
                        <!--<div class="modal-body" style="height: 100%;">-->
                            <!--<div class="form-group">-->
                                <!--<label for="add_test_suit_name" class="col-sm-3 control-label">测试集名称</label>-->
                                <!--<div class="col-sm-7">-->
                                    <!--<input type="text" class="form-control"  name="add_test_suit_name" id="add_test_suit_name" placeholder="请输入测试集名称">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label for="add_param_template" class="col-sm-3 control-label">参数模板</label>-->
                                <!--<div class="col-sm-7">-->
                                    <!--<select data-placeholder="选择参数模板" class="form-control" name="add_param_template" id="add_param_template"></select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--{#模态框底部#}-->
                        <!--<div class="modal-footer">-->
                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                            <!--<input type="button" class="btn btn-primary" value="提交"  onclick="add_test_suit_action()"/>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
            <!--</div>-->
        <!--</form>-->


    <!-- 查看模态框 -->
  <div class="modal fade" id="viewModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">模态框头部</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- 模态框主体 -->
        <div class="modal-body">
            <table class="table table-bordered" id = 'show_table'></table>
        </div>

        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script%}


<script type="text/javascript">
    var checked=null;
    $('#mytable').bootstrapTable({
        url:"/interface/testCaseSuit",     //从后台获取数据时，可以是json数组，也可以是json对象
        dataType: "json",
        method: 'get',                      //请求方式（*）
        //toolbar: '#toolbar',                //工具按钮用哪个容器
        toolbar: '#exampleToolbar',
        striped: true,                      //是否显示行间隔色
        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination: true,                   //是否显示分页（*）
        sortable: true,                     //是否启用排序
        //sortOrder: "asc",                   //排序方式
        {#queryParams: oTableInit.queryParams,//传递参数（*）#}
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）,数据为json数组时写client，json对象时（有total和rows时）这里要为server方式，写client列表无数据
        pageNumber: 1,                       //初始化加载第一页，默认第一页
        pageSize: 10,                       //每页的记录行数（*）
        pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
        search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
        strictSearch: true,
        showColumns: true,                  //是否显示所有的列
        showRefresh: true,                  //是否显示刷新按钮
        minimumCountColumns: 2,             //最少允许的列数
        clickToSelect: true,                //是否启用点击选中行
        {#height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度#}
        uniqueId: "id",                     //每一行的唯一标识，一般为主键列
        showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
        cardView: false,                    //是否显示详细视图
        detailView: false,                   //是否显示父子表
        idField: 'test_suit_name',          //指定主键
        singleSelect: true,                //开启单选,想要获取被选中的行数据必须要有该参数

        //得到查询的参数，会在url后面拼接，如：?rows=5&page=2&sortOrder=asc&search_kw=&_=1564105760651
        queryParams: function (params) {
            //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            var query_params = {
                rows: params.limit,                         //页面大小
                page: (params.offset / params.limit) + 1,   //页码
                sort: params.sort,      //排序列名
                sortOrder: params.order, //排位命令（desc，asc

                //查询框中的参数传递给后台
                search_kw: $('#search-keyword').val(), // 请求时向服务端传递的参数
                creator: checked,
                };
                console.log("query_params:", query_params,params)
                return query_params;
            },

        columns: [
            {
                //checkbox:true  //第一列显示复选框
                //singleSelect:true
                field : 'checked',
                checkbox : true,
                visible: true,
                formatter : stateFormatter
            },
            {
                field: 'test_suit_id',  //返回数据rows数组中的每个字典的键名与此处的field值要保持一致
                title: '序列号'
            },
            {
                field: 'test_suit_name',
                title: '用例集名称'
            },
            {
                field: 'operate',
                title: '操作',
                width: 120,
                align: 'center',
                valign: 'middle',
                formatter: actionFormatter,
            },
        ],
    });


    function actionFormatter(value, row, index) {
        var id = index;
        var data = JSON.stringify(row);
        var result = "";
        result += "<a href='javascript:;' class='btn btn-xs green' onclick=\"GetViewById('" + id + "', view='view')\" title='查看'><span class='glyphicon glyphicon-search'></span></a>";
        result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"EditViewById('" + id + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
        result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"DeleteByIds('" + id + "')\" title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
        return result;
    }

    function stateFormatter(value, row, index) {
        if (row.state == true)
            return {
                disabled : true,//设置是否可用
                checked : true//设置选中
            };
        return value;
    }

    function edit(){
        // 获取当前行
        var row=$("#mytable").bootstrapTable('getSelections');
        console.log("row[0]", row[0].project_name)
        alert(row[0].id, row[0].project_name)
    }

    function DeleteByIds(index){
        var data = JSON.stringify($("#mytable").bootstrapTable('getData'));
        var data_json = JSON.parse(data); //data_json和data_json2一样都是json对象
        console.log("data_json:", data_json);
        console.log("index:", index);
        console.log("deleteid:", data_json[index].id)
        Ewin.confirm({ message: "确认要删除选择的数据吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                $.ajaxSetup({
                    data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
                })
                $.ajax({
                    type: "POST",
                    url: "/interface/template",
                    data: { "delete_id": data_json[index].id},
                    async:false,
                    success: function (data) {
                        if (data.status == "success") {
                            toastr.success('删除数据成功');
                            $("#mytable").bootstrapTable('refresh');
                            //window.location.reload();//刷新当前页面
                        }
                    },
                    error: function (data) {
                        toastr.error('删除失败',data.status);
                    },
                    dataType : "json"
                });
            });
    }



    function GetViewById(index){
        var data = JSON.stringify($("#mytable").bootstrapTable('getData')); //获取全部数据
        var data_json = JSON.parse(data); //data_json和data_json2一样都是json对象
        console.log("data_json:", data_json);
        console.log("index:", index);
        var show_table = document.getElementById('show_table');
        //根据index找到对应行数据，填充数据到修改模态框
        var html = ""
        html += "<tbody><tr><td><b>模版id</b></td><td>" + data_json[index].id + "</td></tr>"
        html += "<tr><td><b>模版名称</b></td><td>" + data_json[index].template_name + "</td></tr>"
        html += "<tr><td><b>模版描述</b></td><td>" + data_json[index].template_desc + "</td></tr>"
        html += "<tr><td><b>string</b></td><td>" + data_json[index].string + "</td></tr>"
        html += "<tr><td><b>int</b></td><td>" + data_json[index].int + "</td></tr>"
        html += "<tr><td><b>number</b></td><td>" + data_json[index].number + "</td></tr>"
        html += "<tr><td><b>date</b></td><td>" + data_json[index].date + "</td></tr>"
        html += "<tr><td><b>bool</b></td><td>" + data_json[index].bool + "</td></tr>"
        html += "<tr><td><b>decimal</b></td><td>" + data_json[index].decimal + "</td></tr>"
        html += "<tr><td><b>creator</b></td><td>" + data_json[index].creator + "</td></tr>"
        html += "<tr><td><b>create_time</b></td><td>" + data_json[index].create_time + "</td></tr>"
        html += "<tr><td><b>update_time</b></td><td>" + data_json[index].update_time + "</td></tr>"
        html += "</tbody>"
        $("#show_table").html(html);
        $('#viewModal').modal('show')
    }
    function add_test_suit_model(){
        $('#add_test_suit_name-keyword').val('');
        $('#addModal').modal('show')
    }

    function AddTestSuit(){
        $("add_param_template").val
        project_category = {}
        $.get("/interface/getProjectCategory",
            function(resultDict)
            {
                project_category = resultDict;
                console.log("project_category1", project_category)
                var update_project_category_value = null;
                for(var key in project_category)
                if(project_category[key] == data_json[index].project_category)
                {
                    update_project_category_value = "<option value='" + key + "' selected=selected>" + data_json[index].project_category + "</option>";
                    $("#update_project_category").append(update_project_category_value);
                }
                else
                {
                    update_project_category_value = "<option value='" + key + "'>" + project_category[key] + "</option>";
                    $("#update_project_category").append(update_project_category_value);
                }
            },
            "json"
        );

    }

    function EditViewById(index){
        $("#update_project_category").empty()
        var data = JSON.stringify($("#mytable").bootstrapTable('getData')); //获取全部数据
        var data_json = JSON.parse(data); //data_json和data_json2一样都是json对象
        console.log("data_json:", data_json);
        console.log("index:", index);
        //根据index找到对应行数据，填充数据到修改模态框
        $("#update_id").val(data_json[index].test_suit_id);
        $("#update_test_case_suit_name").val(data_json[index].test_suit_name);
        console.log("id is:",data_json[index].test_suit_id)
        //弹出修改模态框，非新增模态框
        $('#updateModal').modal('show')
    }

    // 搜索查询按钮触发事件
    $(function() {
        $("#search-button").click(function () {
        $('#mytable').bootstrapTable(('refresh')); // 很重要的一步，刷新url！
        $('#search-keyword').val()
        })
    })

    //重置搜索条件
    function clean(){
        //先清空
        $('#search-keyword').val('');
        //清空后查询条件为空了，再次刷新页面，就是全部数据了
        $('#mytable').bootstrapTable(('refresh')); // 很重要的一步，刷新url！
    }
    //搜索我的项目
    function onClickHander(obj){
        if(obj.checked){
            checked="checked"

        }
        else{
            checked=null
        }

    }
    //名称重复或者异常场景
    function alertFunction(data){
	    alert(data);
    }
    {% if msg == 'success' %}
        alertFunction("{{ msg }}")
    {% endif %}


</script>
<script type="text/javascript">
    {#设置弹出提示框属性#}
    toastr.options = { // toastr配置
        "closeButton": true, //是否显示关闭按钮
        "debug": false, //是否使用debug模式
        "progressBar": true, //是否显示进度条，当为false时候不显示；当为true时候，显示进度条，当进度条缩短到0时候，消息通知弹窗消失
        "positionClass": "toast-top-center",//显示的动画时间
        "showDuration": "400", //显示的动画时间
        "hideDuration": "1000", //消失的动画时间
        "timeOut": "7000", //展现时间
        "extendedTimeOut": "1000", //加长展示时间
        "showEasing": "swing", //显示时的动画缓冲方式
        "hideEasing": "linear", //消失时的动画缓冲方式
        "showMethod": "fadeIn", //显示时的动画方式
        "hideMethod": "fadeOut" //消失时的动画方式
    }



    function add_test_suit_action() {
        $.ajax({
            cache:false,
            type: "POST",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/interface/testCaseSuit" ,//url
            data: $('#add_test_suit_form').serialize(), //将模态框的form表单数据序列化，以便提交到后台
            async:false,

            success: function (data) {
                if(data.msg == "success"){
                    {#关闭模态框并清除框内数据，否则下次打开还是上次的数据#}
                    document.getElementById("add_test_suit_form").reset();
                    $('#addModal').modal('hide');
                    toastr.success('提交数据成功');

                    <!--window.event.returnValue = false;-->
                    <!--window.event.returnValue = true;-->

                    {#刷新表格数据#}
                    $("#mytable").bootstrapTable('refresh');
                }
                else if(data.msg == "duplicate") {
                    toastr.warning('名称重复');
                }
                else{
                    toastr.error('保存失败')
                }
            },
            error: function(error) {
                //toastr.error(error)
            }
        });
    }
    {#提交数据函数#}
    function update_test_case_suit_action() {
        $.ajax({
            cache:false,
            type: "PUT",//方法类型
            dataType: "json",//预期服务器返回的数据类型
            url: "/interface/testCaseSuit" ,//url
            data: $('#update_test_case_suit_form').serialize(), //将模态框的form表单数据序列化，以便提交到后台
            async:false,

            success: function (data) {
                if(data.msg == "success"){
                    {#关闭模态框并清除框内数据，否则下次打开还是上次的数据#}
                    document.getElementById("update_test_case_suit_form").reset();
                    $('#updateModal').modal('hide');
                    toastr.success('提交数据成功');

                    <!--window.event.returnValue = false;-->
                    <!--window.event.returnValue = true;-->

                    {#刷新表格数据#}
                    $("#mytable").bootstrapTable('refresh');
                }
                else if(data.msg == "duplicate") {
                    toastr.warning('名称重复');
                }
                else{
                    toastr.error('保存失败')
                }
            },
            error: function() {
                toastr.error("请输入所有数据")
            }
        });
    }
</script>
<script type="text/javascript">
    (function ($) {

    window.Ewin = function () {
        var html = '<div id="[Id]" class="modal fade" role="dialog" aria-labelledby="modalLabel">' +
                              '<div class="modal-dialog modal-sm">' +
                                  '<div class="modal-content">' +
                                      '<div class="modal-header">' +
                                          '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
                                          '<h4 class="modal-title" id="modalLabel">[Title]</h4>' +
                                      '</div>' +
                                      '<div class="modal-body">' +
                                      '<p>[Message]</p>' +
                                      '</div>' +
                                       '<div class="modal-footer">' +
        '<button type="button" class="btn btn-default cancel" data-dismiss="modal">[BtnCancel]</button>' +
        '<button type="button" class="btn btn-primary ok" data-dismiss="modal">[BtnOk]</button>' +
    '</div>' +
                                  '</div>' +
                              '</div>' +
                          '</div>';


        var dialogdHtml = '<div id="[Id]" class="modal fade" role="dialog" aria-labelledby="modalLabel">' +
                              '<div class="modal-dialog">' +
                                  '<div class="modal-content">' +
                                      '<div class="modal-header">' +
                                          '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
                                          '<h4 class="modal-title" id="modalLabel">[Title]</h4>' +
                                      '</div>' +
                                      '<div class="modal-body">' +
                                      '</div>' +
                                  '</div>' +
                              '</div>' +
                          '</div>';
        var reg = new RegExp("\\[([^\\[\\]]*?)\\]", 'igm');
        var generateId = function () {
            var date = new Date();
            return 'mdl' + date.valueOf();
        }
        var init = function (options) {
            options = $.extend({}, {
                title: "操作提示",
                message: "提示内容",
                btnok: "确定",
                btncl: "取消",
                width: 200,
                auto: false
            }, options || {});
            var modalId = generateId();
            var content = html.replace(reg, function (node, key) {
                return {
                    Id: modalId,
                    Title: options.title,
                    Message: options.message,
                    BtnOk: options.btnok,
                    BtnCancel: options.btncl
                }[key];
            });
            $('body').append(content);
            $('#' + modalId).modal({
                width: options.width,
                backdrop: 'static'
            });
            $('#' + modalId).on('hide.bs.modal', function (e) {
                $('body').find('#' + modalId).remove();
            });
            return modalId;
        }

        return {
            alert: function (options) {
                if (typeof options == 'string') {
                    options = {
                        message: options
                    };
                }
                var id = init(options);
                var modal = $('#' + id);
                modal.find('.ok').removeClass('btn-success').addClass('btn-primary');
                modal.find('.cancel').hide();

                return {
                    id: id,
                    on: function (callback) {
                        if (callback && callback instanceof Function) {
                            modal.find('.ok').click(function () { callback(true); });
                        }
                    },
                    hide: function (callback) {
                        if (callback && callback instanceof Function) {
                            modal.on('hide.bs.modal', function (e) {
                                callback(e);
                            });
                        }
                    }
                };
            },
            confirm: function (options) {
                var id = init(options);
                var modal = $('#' + id);
                modal.find('.ok').removeClass('btn-primary').addClass('btn-success');
                modal.find('.cancel').show();
                return {
                    id: id,
                    on: function (callback) {
                        if (callback && callback instanceof Function) {
                            modal.find('.ok').click(function () { callback(true); });
                            modal.find('.cancel').click(function () { callback(false); });
                        }
                    },
                    hide: function (callback) {
                        if (callback && callback instanceof Function) {
                            modal.on('hide.bs.modal', function (e) {
                                callback(e);
                            });
                        }
                    }
                };
            },
            dialog: function (options) {
                options = $.extend({}, {
                    title: 'title',
                    url: '',
                    width: 800,
                    height: 550,
                    onReady: function () { },
                    onShown: function (e) { }
                }, options || {});
                var modalId = generateId();

                var content = dialogdHtml.replace(reg, function (node, key) {
                    return {
                        Id: modalId,
                        Title: options.title
                    }[key];
                });
                $('body').append(content);
                var target = $('#' + modalId);
                target.find('.modal-body').load(options.url);
                if (options.onReady())
                    options.onReady.call(target);
                target.modal();
                target.on('shown.bs.modal', function (e) {
                    if (options.onReady(e))
                        options.onReady.call(target, e);
                });
                target.on('hide.bs.modal', function (e) {
                    $('body').find(target).remove();
                });
            }
        }
    }();
})(jQuery);

</script>

{% endblock %}