{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}注册{% endblock %}
<!--{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}-->
{% block content %}
<!--
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">欢迎注册</h4>
                  <p class="card-description">
                    欢迎使用数云测试平台
                  </p>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="exampleInputName1">用户名</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">邮箱</label>
                      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputMobile">手机号</label>
                      <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword4">密码</label>
                      <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputConfirmPassword1">再次确认密码</label>
                      <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <label for="exampleSelectGender">性别</label>
                        <select class="form-control" id="exampleSelectGender">
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div>
                    <div class="form-group">
                      <label>上传头像</label>
                      <input type="file" name="img[]" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
-->
<div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-register' action="/register/" method="post" enctype="multipart/form-data">

              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
              <!--
              {% if register_form %}
                  <div class="alert alert-warning">{{ register_form.non_field_errors }}</div>
              {% endif %}
              -->


              {% csrf_token %}

              <h2 class="text-center">欢迎注册</h2>
              <div class="form-group">
                  {{ register_form.username.label_tag }}
                  {{ register_form.username}}
              </div>
              <div class="form-group">
                  {{ register_form.password1.label_tag }}
                  {{ register_form.password1 }}
              </div>
              <div class="form-group">
                  {{ register_form.password2.label_tag }}
                  {{ register_form.password2 }}
              </div>
              <div class="form-group">
                  {{ register_form.mobile.label_tag }}
                  <p>{{ register_form.mobile}} {{ register_form.errors.mobile.0 }}</p>

                  <!--
                  <p>{{ register_form.mobile}} {{ register_form.errors.mobile.0 }}</p>
                  <p><input type="text" name="user"> {{ register_form.errors.mobile.0 }}</p>
                  -->
              </div>
              <div class="form-group">
                  {{ register_form.email.label_tag }}
                  {{ register_form.email }}
              </div>
              <div class="form-group">
                  {{ register_form.sex.label_tag }}
                  {{ register_form.sex }}
              </div>
              <!--
              <div class="form-group">
                  {{ register_form.image.label_tag }}
                  {{ register_form.image }}
              </div>
              -->

              <div class="form-group">
                  {{ register_form.captcha.errors }}
                  {{ register_form.captcha.label_tag }}
                  {{ register_form.captcha }}
              </div>
              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>

          </form>
        </div>
  </div> <!-- /container -->



{% endblock %}